body					{ font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }

#sidebar				{ width: 100%; float: none; clear: both; overflow: hidden; }

#content				{ width: 100%; margin-left: 0%; float: none; }
#timeline				{ width: auto; height: auto; }

.person					{ float: left; margin-bottom: .5em; }
.person + .person		{ border-top: none; margin-left: .5em; margin-top: 0; }
.person h2				{ font-size: 12px; }
.person.addlink			{ display: none; }

.textbox label			{ left: 0px; } 
.textbox input[type="text"]	{ border: none; padding: 0; padding-left: 52px; border-radius: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.remove_button			{ display: none; }

#content				{ font-size: .9em; }
